*{
    box-sizing: border-box;
}

html {
    background-image: url("./assets/images/background.jpg");
    height: 500px;
    background-color: orange;
    background-position: center; 
    font-family:Rubik, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position: center top;
    background-size: 1920px 1080px;

}

h1 {
    font-size: 30px;
    text-shadow: 3px 3px 3px cyan;
    text-align: center;
    background-color:darkcyan;
    width: 240px;
    margin: auto;
    padding: 10px 10px;
    border-radius: 20px 0px;
    max-width: fit-content;
}

#alcim {
    font-family:Rubik, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 5px
}

hr {
    border-top: 1px solid black;
}

a:link{
    color:aquamarine;
}
a:visited{
    color: rgb(0, 0, 0);
}
a:hover{
    color: white;
}

.kapcsolatinfo {
    font-size: 16px;
    text-align: center;
}

.cim {
    text-align: center;
}

.felkoverszoveg{
    font-weight: bold ;
    font-size: 20px;
}

dt {
    margin-top: 20px;
}

.projektlink{
    font-size: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}