* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: none;
  margin: auto;
  border-radius: 10px;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.box {
  width: 80%;
}

.input {
  width: 80%;
  margin: auto;
  height: 3rem;
  border-radius: 9px;
  border: none;
  font-size: 2rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: wheat;
  text-align: center;
}

input::placeholder {
  color: wheat;
  text-align: center;
}

input:focus::placeholder {
  transition: color 1s ease-out, color 1s ease-in;
  color: rgba(245, 222, 179, 0);
}

.convert {
  width: 80%;
  margin: auto;
  height: 3rem;
  border-radius: 8px;
  background-color: yellow;
  border: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
  color: black;
  transition: background-color 1s ease-out;
  cursor: pointer;
}

.convert:hover {
  transition: background-color 1s ease-out;
  background-color: mediumseagreen;
}

.convert:active {
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
  background-color: darkorange;
  color: white;
}

.result {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem;
  padding: 10px;
  margin: 0;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

table,
th,
td {
  border: 1px solid white;
  padding: 10px;
}
table {
  border-spacing: 30px;
}

td:hover {
  background-color: #ffffff25;
}

th {
  background-color: rgba(0, 0, 0, 0.5);
}
