* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: center;
}

body {
	font-family: Rubik, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid black;
	margin: auto;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
	display: none;
}

table {
	border-spacing: 30px;
}

td:hover {
	background-color: #ffffff25;
}

th {
	background-color: rgba(0, 0, 0, 0.5);
}

table {
	width: 100%;
	border-collapse: collapse;
}
td {
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}
.modal {
	display: none; /* Alapértelmezetten rejtve */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Biztos, hogy a modál mindig előtérben lesz */
	overflow: hidden; /* Elkerüli, hogy görgethető legyen */
}

.modal.show {
	display: flex; /* Megjeleníti a modált, ha hozzáadjuk a "show" osztályt */
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 80%;
	max-height: 80%;
	max-width: 400px;
	text-align: center;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal-content ul li {
	display: block;
	visibility: visible;
}

.modal ul {
	list-style: none;
	padding: 0;
}
.modal ul li {
	padding: 10px;
	margin: 5px 0;
	background-color: #e9e9e9;
	border-radius: 5px;
	transition: border-radius 3s ease-out;
}

#close-modal,
#close-error-modal,
#delete-row-btn {
	border: none;
	background-color: orange;
	color: black;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease-out;
	align-self: center;
}

#close-modal:hover,
#close-error-modal:hover,
#delete-row-btn:hover {
	background-color: orangered;
	color: white;
}

.modal ul li:hover {
	background-color: rgb(
		215,
		215,
		215
	); /* Könnyen észrevehető háttérváltás hover esetén */
	cursor: pointer;
	border-radius: 50px;
	transition: background-color 0.5s ease-in;
	transition: border-radius 1s ease-out;
}

/* Az arab számokkal jelölt sorok szövege fehér legyen */
table td[class="selectable"] {
	color: white; /* Fehér szín a szövegnek */
	cursor: pointer;
}

.check {
	width: auto;
	margin: auto;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: orange;
	border: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.2rem;
	color: black;
	transition: background-color 0.3s ease-out;
	cursor: pointer;
}

.mainheader {
	background-color: #ffffff;
}

.secheader {
	background-color: #ffd9d6;
}

.subheader {
	background-color: #b8bfb0;
}

.mainheader:hover,
.secheader:hover,
.subheader:hover {
	background-color: rgba(255, 255, 255, 0.6);
	color: #000000;
}

.headingbg {
	background-color: #ffffff7e;
	padding: 20px;
	border-radius: 10px 10px 0 0;
}

.footingbg {
	background-color: #ffffff30;
	padding: 20px;
	border-radius: 0 0 10px 10px;
}

.modal-content:has(.btns > li) {
	list-style-type: none;
	margin: 0 10px;
}

.btns {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
}

#progress-container {
	margin-top: 20px;
	text-align: center;
	width: 80%;
}

#percentage-text {
	font-size: 20px;
	font-weight: normal;
}

#progress-bar {
	width: 100%;
	height: 20px;
	background-color: #ddd;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 30px;
}

#progress-fill {
	width: 0%;
	height: 100%;
	background-color: limegreen;
	border-radius: 5px;
	transition: width 1s ease-out; /* Animációs átmenet */
}

.tooltip {
	--bs-tooltip-bg: #353535;
}

.tooltip-inner {
	color: #fff;
	font-family: Rubik, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
}

/* A nyíl színének beállítása bottom pozícióhoz */
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
	border-bottom-color: #333 !important;
}

/* A nyíl alapjának biztosítása */
.tooltip.bs-tooltip-bottom .tooltip-arrow {
	background-color: #333 !important;
}
